li.nav-item.active
  = link_to(I18n.t('navbar.hi_username', name: current_user.name), @path, class: "nav-link")
li.nav-item.active
  = link_to(image_tag(current_user.avatar.url, class: 'avatar-thumb'), @path, class: "nav-link")
